spring:
  application:
    name: club-management
  
  config:
    import: optional:file:.env[.properties]
    
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true
    properties:
      hibernate:
        jdbc.time_zone: UTC
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

    jvm:
      arguments: -Duser.timezone=Asia/Ho_Chi_Minh

  
